
#logo img{
	width: 200px;
}
#header{
	width: 100%;
	float: left;
}
#logo{
	float: left;
}
#top-part{
overflow: hidden;
margin-top: 50px;
}
#search-bar{
	float: left;
}
#search-bar input{
	width: 300px;
	height: 23px;

}
#search-button{
	float: left;
}
#search-button button{
	padding: 8px;
	margin-left: 15px;
}
#center-links{
	
}
#mid-header{
	float: left;
	width: 45%;
}
#left-header{
	float: left;
	width: 30%;


}
#right-header{
	width: 22%;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}
#right-links{
	float: right;
	clear: right;
	padding-top: 20px;

}
#right-links a{
	text-decoration: none;
	font-family: arial;
	color: gray;
	padding-left: 20px;
}
#account-info{
	float: right;
}
#left-side{
	width: 60%;
	float: left;
	border: 1px solid black;
}
#big-video{
	float: left;
}
#right-side{
	width: 30%;
	float: left;
	height: 339px;
	border: 1px solid black;
	margin-left: 2%;
}
#thumb{
	float: left;
	padding-left: 10px;
}
#thumb-one img{
	height: 80px;
	float: left;
	padding-bottom: 15px;

}
#thumb-two img{
	height: 80px;
	float: left;
	padding-bottom: 15px;
}
#thumb-three img{
	height: 80px;
	float: left;
}
#thumb-one, #thumb-two, #thumb-three{
	float: left;
	clear: left;
}
#primary-body{
	max-width: 1000px;
	margin: auto;
}
#big-right-video img{
width: 70%;
}
#desc-one{
	max-width: 160px;
float: left;

}
#desc-two{
	max-width: 160px;
	float: left;

}
#desc-three{
	max-width: 160px;
	float: left;
}
#center-links{
	

}
#center-links a{
	padding-right: 66px;
	font-family: arial;
	color: gray;
}
#account-info a{
	font-family: arial;
	text-decoration: none;
}
#featured{
	font-family: arial;
}
#big-right-desc{
	max-width: 180px;
}